.wp-block{max-width:98%}
div.block-editor-block-list__insertion-point{display:none !important}
.imasz_content{position:relative}
.imasz_content:before{content:'';display:block;position:absolute;top:0;left:-17px;width:3px;height:100%;background:#555d66}