.wp-block{max-width:98%}
div.block-editor-block-list__insertion-point{display:none !important}
.imasz_content{position:relative;border:1px dashed #555d66;padding:25px 20px 20px 20px;}
.imasz_content.figure{margin:20px auto}
.imasz_content.figure:before{content:'<figure>';display:block;position:absolute;top:-8px;left:8px;background:#fff;font-size:14px;line-height:16px;font-weight:400;color:#555d66}
.imasz_content.figure:after{content:'<figure/>';display:block;position:absolute;bottom:-8px;right:8px;background:#fff;font-size:14px;line-height:16px;font-weight:400;color:#555d66}
.imasz_content.figure button.button.button-large{margin:30px}
.imasz_content.figure button.image_button{height:100%;padding:5px;border:1px solid #555d66;margin:0}
.imasz_content.figure img{display:block;width:100%;height:auto;}